@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap");

body {
  text-align: center;
  font-family: 'Marvel', sans-serif !important;
  letter-spacing: 1px;
  background-image: url("https://images4.alphacoders.com/108/108584.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: backgroundScroll 30s linear 1;
  -webkit-animation-fill-mode: both;
  animation: backgroundScroll linear 30s 1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px 0;
  }
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px 0;
  }
}
