@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap");

.searchContainer {
  display: flex;
  margin-bottom: 4%;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.searchContainer > div > label {
  color: white;
  font-family: "Marvel", sans-serif !important;
}

.MuiInputBase-input {
  color: white !important;
  font-family: "Marvel", sans-serif !important;
}

.textField {
  width: 30%;
  font-weight: 500;
  margin: 0 2% !important;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.select {
  width: 205px;
  background-color: rgba(0, 0, 0, 0.95);
}

.MuiInputLabel-filled {
  color: white !important;
  font-family: "Marvel", sans-serif !important;
}

.MuiMenu-paper {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.MuiMenu-paper > ul {
  color: white !important;
}

.MuiMenu-paper > ul > li {
  font-family: "Marvel", sans-serif !important;
}

@media only screen and (max-width: 1024px) {
  .textField {
    width: 50%;
  }

  .selectContainer {
    width: 50%;
  }

  .select {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .searchContainer {
    flex-direction: column;
    padding: 0 10%;
    align-items: center;
  }

  .textField {
    width: 100%;
    margin: 0 !important;
  }

  .selectContainer {
    margin: 20px 0;
    width: 100%;
  }

  .select {
    width: 100%;
  }
}
